<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>project background introduce</title>
</head>
<body>
    <h1>project background introduce</h1>
    <p>here is the stuff</p>
    <video width="600" controls>
        <source src="~/videos/background.mp4" type="video/mp4">
        您的浏览器不支持视频播放。
    </video>
    <a asp-controller="Home" asp-action="Index">back to mainpage</a>
</body>
</html>
