<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>项目成员展示</title>
</head>
<body>
    <h1>项目成员</h1>
    <ul>
        <li>WDS</li>
        <li>WXY</li>
        <li>CHL</li>
        <li>YJ</li>
        <li>LLX</li>
    </ul>
    <a asp-controller="Home" asp-action="Index">返回主页</a>
</body>
</html>
